<html>
  <head>
    <title>Enrico Zammit Lonardelli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}" />
  </head> 
  <body> 
    <section class="buttonsection">
	    <div>
	    <a href="/aboutme" class="button big scrolly">&nbspAbout Me</a>
	    </div>
	    <div>
	    <a href="#work" class="button big scrolly">&nbsp&nbsp&nbsp&nbspEmail</a>
	    </div>
	    <div>
	    <a href="#work" class="button big scrolly">&nbsp&nbsp&nbsp&nbspMusic</a>
	    </div>
	    <div>
	    <a href="#work" class="button big scrolly">&nbsp&nbsp&nbsp&nbsp&nbspFiles</a>
            </div>
    </div>
  </body>
</html>